body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#logotipo{
    width: 50px;
    height: 50px;
    float: right;

}
.sociais{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

h1 {
    color: red;

}
h3{
    color: forestgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    height: 60px;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.column{
    text-align: center;
    float: right;
    padding: 10px;
    height: 300px;
}
.row{
    display: table;
}
.central{
    text-align: center;
    margin-top: 10px;
}
.footer{
    display: block;
}
.noticia{
    width: 300px;
}
.noticiaTexto{
    width: 200px;
}
.tamanhoPrincipal{
    width: 500px;

}